* {
    margin: 0;
    padding: 0;
}
body{
    background: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #ffffff;
    margin: 0 auto;
    max-width: 1200px;
}

body header nav{
    position: fixed;
    z-index: 10;
    width: 1200px;
    background-image: url(Bilder/feuertest.jpg);
    font-size: 20px;
}
body header nav ul{
    padding: 0px 100px;
}
body header nav ul li{
    list-style-type: none;
    width: 100%;
    text-align: center
}
body header nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    padding: 10px 0px;
    width: 100%;
}
body header nav ul li a:hover{
    background-color: #CC0000;
}
body footer a {
    width: 1200px;
    position: absolute;
    color: #ffffff;
    text-align: center;
}
body footer p {
    width: 1200px;
    text-align: right;
}
#stage{
    width: 1200px;
    height: 550px;
    background-image: url(Bilder/feuerwehr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#stage h1{
    font-size: 60px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    color: #ffffff;
}
#start h2{
    text-align: center;
    margin: 20px 0px;
    font-size: 30px;
}
#startWrapper div{
    margin: 20px 40px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
#startWrapper div a{
    color: #ffffff;
    font-size: 60px;
    font-style: normal;
    text-decoration-line: none;
}
#ueberuns{
    width: 1200px;
    height: 500px;
    background-image: url(Bilder/mannschaftsfototest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#ueberuns p{
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 60px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30%;
    transform: translate(0, -80%);
    color: #ffffff;
}
#ueberunsWrapper{
    text-align: center;
}
#ueberunsWrapper h2{
    font-size: 24px;
    padding: 10px 0px;
}
#kameradschaft{
    padding: 10px 0px;
}
#auto{
    width: 1200px;
    height: 600px;
    background-image: url(Bilder/auto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#auto p {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 60px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 80%;
    transform: translate(0, -80%);
    color: #ffffff;
}
#autoWrapper{
    text-align: center;
    padding: 10px 0px;
}
#autoWrapper h2{
    padding: 5px 0px;
    font-size: 24px;
}
#jugend{
    width: 1200px;
    height: 650px;
    background-image: url(Bilder/jugendfeuerwehr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#jugend p{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    top: 80%;
    transform: translate(0, -80px);
}
#jugendWrapper{
    text-align: center;
}
#jugendWrapper h2{
    font-size: 24px;
    padding: 10px 0px;
}
#jugendWrapper p{
    padding: 10px 0px;
}
#kontakt {
    width: 1200px;
    height: 510px;
    background-image: url(Bilder/atemschutz.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.format {
    width: 1000px;
    background-color: rgba(0,0,0,0.8);
    border-color: #ffffff;
    font-size: 18px;
    color: #ffffff;
}
#name {
    height: 25px;
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
}
#email {
    height: 25px;
    position: absolute;
    margin-top: 95px;
    margin-left: 100px;
}
#betreff {
    height: 25px;
    position: absolute;
    margin-top: 140px;
    margin-left: 100px;
}
#nachricht {
    height: 200px;
    position: absolute;
    margin-top: 185px;
    margin-left: 100px;
}
#submit {
    background: #000000;
    border:none;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 250px;
    height: 50px;
    position: absolute;
    color: #ffffff;
    margin-top: 410px;
    margin-left: 475px; 
}
img {
    width: 160px;
    height: 200px;
}
.flex{
    display: flex;
    justify-content: space-around;
}